@use '../layout/breakpoints' as *;
.activities-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 3rem 0;
  @include media('<tablet') {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
  }
  @include media('<phone') {
    grid-template-columns: 1fr 1fr;
  }
}
