@use '../layout/breakpoints' as *;
.activities {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @include media('<desktop') {
    grid-template-columns: repeat(4, 1fr);
  }
  @include media('<tablet') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media('<500px') {
    grid-template-columns: repeat(2, 1fr);
  }
}
.blogs {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  :nth-child(1),
  :nth-child(4),
  :nth-child(5) {
    grid-column: span 2;
  }

  @include media('<600px') {
    grid-template-columns: repeat(2, 1fr);
  }
  h2 {
    @include media('<600px') {
      font-size: 1rem !important;
    }
  }
}
