@use '../constants/colors' as *;

.btn {
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  background-color: $color-primary-200;
  color: white;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  transition: background-color ease-in-out 0.3s;
  &:hover {
    background-color: $color-primary-100;
  }
  &:disabled {
    background-color: darkgray;
  }
}
