@use '../constants/colors' as *;
@use '../layout/breakpoints' as *;
.header {
  position: relative;
  z-index: 3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  .logo {
    cursor: pointer;
    font-family: Righteous;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .etkinlikler-link {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    @include media('>=desktop') {
      display: none;
    }
    .instagram-icon {
      padding: 0;
      margin: 0;
      height: 1.5rem;
      width: 1.5rem;
      display: block;
      transition: all ease 0.3s;
      &:hover {
        transform: scale(1.2);
        fill: $color-primary-200;
      }
    }
  }
  > ul {
    display: flex;
    gap: 1rem;
    @include media('<desktop') {
      display: none;
    }
    > li {
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      z-index: 2;
      padding: 2px;
      display: block;
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $color-primary-200;
        position: absolute;
        bottom: 2px;
        left: 0;
        transition: all ease 0.3s;
        z-index: -1;
        border-radius: 0.3rem;
      }
      &:hover:after {
        transform: skew(5deg, -5deg) scaleY(16) translateY(-0.8px);
        transform-origin: center;
      }
      &:hover {
        color: white;
      }
    }
  }
  .logout,
  .login,
  .loading {
    margin-left: 1rem;
    @include media('<desktop') {
      display: none;
    }
  }
  .user {
    @include media('<desktop') {
      display: none;
    }
  }
  .hamburger {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    padding: 0.2rem;
    border: 2px solid $color-dark-300;
    background-color: $color-light-100;
    width: 3.2rem;
    height: 3.2rem;
    display: grid;
    place-items: center;
    border-radius: 0.3rem;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    cursor: pointer;
    z-index: 10;
    svg {
      width: 2rem;
      height: 2rem;
    }
    @include media('>=desktop') {
      display: none;
    }
  }
  .openHamburger {
    border: 2px solid $color-dark-300;
    svg {
      fill: $color-dark-300;
    }
  }
}
.navmenu {
  position: fixed;
  padding: 1rem;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $color-light-100;
  z-index: 3;
  @include media('>=tablet') {
    padding: 3rem 5rem;
    width: 50vw;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
  }
  @include media('>=500px') {
    padding: 2rem 3rem;
  }
  ul {
    position: relative;
    margin-top: 0rem;
    line-height: 1.5rem;
    font-size: 1rem;
    display: grid;
    gap: 1rem;
    @include media('>phone') {
      line-height: 2.2rem;
      font-size: 1.4rem;
    }
    li {
      span {
        display: flex;
        align-items: center;
        width: max-content;
        color: $color-dark-300;
        cursor: pointer;
        transition: color ease 0.2s;
        &:hover {
          color: $color-blue-100;
        }
        &:hover svg {
          fill: $color-blue-100;
        }
        svg {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      div {
        position: relative;
        .blog-cat,
        .activity-cat {
          position: absolute;
          top: 1rem;
          z-index: 3;
          a {
            color: $color-dark-300;
            width: 20rem;
            cursor: pointer;
            transition: color ease 0.2s;
            &:hover {
              color: $color-blue-100;
            }
          }
        }
      }
    }
  }
  .auth {
    margin-top: 1rem;
    .navmenu-user {
      padding-top: 1rem;
      border-top: 1px solid $color-dark-100;
      margin: 1rem 0;
      .avatar-name {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }
      }
      a,
      .btn {
        margin-top: 1rem;
      }
    }
  }
  .credits {
    position: absolute;
    bottom: 2rem;
    .logos {
      display: flex;
      gap: 1rem;
    }
  }
}
.blog-categories,
.activity-categories {
  position: absolute;
  left: -100px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem;
  border-radius: 0.5rem;
  z-index: 2;
  li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    span {
      color: $color-teriatry-300;
      cursor: pointer;
      position: relative;
      font-size: 0.9rem;
      transition: color ease-in-out 0.3s;
      z-index: 2;
      &:hover {
        color: $color-teriatry-200;
      }
    }
  }
}
.blog-categories {
  width: 250px;
  grid-template-columns: 1fr;
}
.activity-categories {
  width: 500px;
  grid-template-columns: 1fr 1fr;
}
.blogMenu,
.activityMenu {
  display: none;
  position: relative;
  top: 5px;
  opacity: 0;
}
.blog-link:hover .blogMenu {
  display: block;
}
.activity-link:hover .activityMenu {
  display: block;
}
