@use '../constants/colors' as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
  button {
    background-color: $color-teriatry-200;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    display: grid;
    place-items: center;
    height: 2.5rem;
    &:hover {
      background-color: $color-teriatry-300;
    }
  }
}
