@use '../constants/colors' as *;
.read-others {
  display: flex;
  justify-content: flex-end;
  a {
    transition: color ease 0.3s;
    padding: 1rem 0;
    font-family: 'Righteous', sans-serif;
    font-size: 1.2rem;
  }
  a:hover {
    color: $color-dark-200;
  }
}
