.table {
  width: 100%;
  margin: 1rem 0;
  font-size: 0.8rem;
  tbody {
    background-color: rgba(241, 109, 112, 0.2);
    tr {
      line-height: 1.5rem;
      margin-left: 1rem;
      td {
        padding: 0.4rem;
      }
      td::first-child() {
        font-weight: bold;
      }
    }
    tr:nth-child(even) {
      background-color: rgba(241, 109, 112, 0.1);
    }
    tr:hover {
      background-color: rgba(241, 109, 112, 0.41);
    }
  }
  thead {
    background: rgba(241, 109, 112, 1);
    color: white;
    line-height: 2rem;
  }
  @media (max-width: 640px) {
    margin: 0.7rem 0;
    font-size: 14px;
    tbody {
      tr {
        line-height: 1.2rem;
        td {
          padding: 0.3rem;
        }
      }
    }
  }
}
