@use './layout/breakpoints';
@use './layout';
@use './components';
@use './constants';
@use './pages';
@use './constants/colors' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: $color-dark-300;
  text-decoration: none;
  transition: color ease 0.2s;
  &:hover {
    color: $color-blue-100;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: 'Righteous', serif;
}
